name: Auto update PR's

on:
  push:
    branches:
      - 'main'
jobs:
  autoupdate:
    runs-on: ubuntu-latest
    steps:
      - name: Automatically update PR
        uses: adRise/update-pr-branch@v0.6.0
        with:
          token: ${{ secrets.GH_TOKEN }}
          base: 'main'
          required_approval_count: 0
          require_passed_checks: true
          sort: 'created'
          direction: 'desc'
