---
name: pre-commit

on:  # yamllint disable-line rule:truthy
  pull_request:

jobs:
  lint-pr-title:
    name: Validate PR titles
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'pull[bot]' }}
    steps:
    - run: echo "$github.actor"
    - uses: amannn/action-semantic-pull-request@v4
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4.1.0
      with:
        python-version: '3.8'
    - run: pip install 'virtualenv<20.11.0'
    - uses: pre-commit/action@v3.0.0
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
